<div class="navbar-wrapper">
  <div class="container-fluid">
    <nav class='navbar navbar-default bg-faded navbar-fixed-top'>
      <div class="container">
        <a class='navbar-brand'>{{navTitle}}</a>
        <ul class="list-inline">
          <li class="list-inline-item active">
            <a class="nav-link" [routerLink]="['/welcome']">Home </a>
          </li>
          <li class="list-inline-item">
            <a class="nav-link" [routerLink]="['/recipes']">Recipes</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
