<div class="container-fluid">



  <div class="col-md-12 ">
    <div class="addRecipeContainer">
      <a href="#" class="btn btn-primary" id="showForm">Adauga Reteta</a>

      <div id="addRecipeForm" class="slide closed">
       <recipe-form>Formular....</recipe-form>
      </div>
    </div>
  </div>

  <div class="col-md-12 recipesTable">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Poza</th>
            <th>Titlu</th>
            <th>Descriere</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let recipe of collection | paginate: { itemsPerPage: 5, currentPage: p }">
            <td><div *ngIf="recipe.cover"><img src="http://gastro.dev:3000/files/{{recipe.cover}}" alt="{{recipe.title}}" /></div></td>
            <td><strong>{{recipe.title}}</strong></td>
            <td>{{recipe.description | slice:0:250 }} <span *ngIf="recipe.description.length > 250">&hellip;</span> </td>
            <td>
              <div class="container-fluid">
                <a href="recipe/{{recipe.id}}" class="btn btn-secondary btn-sm" >Detalii</a>
                <br>
                <button type="button" class="btn btn-danger btn-sm" (click)="removeRecipe(recipe.id)">Sterge</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>








</div>
