.recipeDetails {
  padding-top: 20px;
}

.coverImg img {
  max-width: 400px;
  padding: 0 20px 0 0;
}

.allPictures {
  padding: 2px 0;
}

.allPictures img {
  max-width: 100px;
  margin:0 2px;
}
