<div class="container">
  <!-- <div class="alert alert-success" role="alert">
    <strong>Well done!</strong> Reteta a fost adaugata
  </div>

  <div class="alert alert-danger" role="alert">
    <strong>Oh snap!</strong> Change a few things up and try submitting again.
  </div> -->

  <div [hidden]="submitted">
    <h1>Recipe Form</h1>
    <form (ngSubmit)="onSubmit()" #recipeForm="ngForm" enctype="multipart/form-data" method="POST">
      <div class="form-group">
        <label for="title">Titlu reteta:</label>
        <input type="text" class="form-control" id="title" required [(ngModel)]="model.title" name="title">
      </div>

      <div class="form-group">
        <label for="cookingTime">Timp Preparare:</label>
        <input type="number" class="form-control" id="cookingTime" [(ngModel)]="model.cookingTime" name="cookingTime" placeholder="(minute)">
      </div>

      <div class="form-group">
        <label for="description">Descriere:</label>
        <textarea class="form-control" name="description" rows="5" id="desc" [(ngModel)]="model.description"></textarea>
      </div>

      <div class="form-group">
        <label for="cover">Imagine reteta: </label><br>
        <label class="btn btn-default file-btn btn-sm">
          Adauga...
          <input type="file" class="form-control" name="cover" ng2FileSelect [uploader]="coverUploader" hidden accept=".png,.jpeg,.gif" />
        </label>
        <span class="small">(.png, .jpeg, .gif)</span>
        <div *ngIf="coverUploader.queue.length > 0">
          <span>{{coverUploader.queue[0].file.name}}</span>
          <button type="button" class="btn btn-danger btn-sm"
                  (click)="coverUploader.clearQueue()" [disabled]="!coverUploader.queue.length">
              <span class="glyphicon glyphicon-trash"></span> Sterge
          </button>
        </div>
      </div>

      <div class="form-group">
        <label>Alte imagini:</label>
        <div ng2FileDrop
            [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
            (fileOver)="fileOverBase($event)"
            [uploader]="uploader"
            class="well my-drop-zone">
          Base drop zone
          <br><br>
          <div>
            <span class="small"> Or, single file upload</span>
            <br>
            <label class="btn btn-default file-btn btn-sm">
              Browse
              <input type="file" name="gallery" ng2FileSelect [uploader]="uploader" hidden  accept=".png,.jpeg,.gif" />
            </label>
          </div>
        </div>
        <table *ngIf="uploader.queue.length > 0" class="table">
            <thead>
              <tr>
                <th width="50%">Name</th>
                <th>Size</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of uploader.queue">
                  <td>{{ item?.file?.name }}</td>
                  <td>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                  <td>
                    <button type="button" class="btn btn-danger btn-sm" (click)="item.remove()">
                      <span class="glyphicon glyphicon-trash"></span> Remove
                    </button>
                  </td>
              </tr>
            </tbody>
        </table>
      </div>
      <button type="submit" class="btn btn-success btn-s" [disabled]="!recipeForm.form.valid"> Submit </button>
    </form>
  </div>
</div>
